<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <title>Dodavanje stavke naloga za nabavku</title>

</head>
<body>
<div class="sredina">

    <h1>Nova stavka</h1>

    <form th:action="@{/zahtev/sacuvajStavku}" method="POST">
        <h3 class="form__field-label">Artikal:</h3>
        <div class="form__field form__field--code">
            <select field="artikal" name="artikal" th:selected="${stavka.artikal}">
                <option th:each="artikal : ${artikli}"
                        th:value="${artikal.kataloskiBroj}"
                        th:text="${artikal.naziv}"
                        th:selected="*{artikal==stavka.artikal}">
                </option>
            </select>
        </div>

        <h3 class="form__field-label">Kolicina:</h3>
        <div class="form__field form__field--code">
            <input type="text" name="kolicina" th:value="*{stavka.kolicina}"/>
        </div>

        <input style="display: none" type="text" name="rb" th:value="*{stavka.rb}"/>
        <input style="display: none" type="text" name="id" th:value="*{stavka.id}"/>
        <button class="btn__submit" type="submit">Sacuvaj</button>
    </form>
</div>

</body>
</html>
